body, html {
    height: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.container {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5d9dd+0,83c783+17,52b152+33,9b2600+67,682100+83,002400+100 */
    background: rgb(181,217,221); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(181,217,221,1) 0%, rgba(131,199,131,1) 17%, rgba(82,177,82,1) 33%, rgba(155,38,0,1) 67%, rgba(104,33,0,1) 83%, rgba(0,36,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(181,217,221,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(155,38,0,1) 67%,rgba(104,33,0,1) 83%,rgba(0,36,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(181,217,221,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(155,38,0,1) 67%,rgba(104,33,0,1) 83%,rgba(0,36,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5d9dd', endColorstr='#002400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.points {
    flex: 0 1 auto;
    color: #ccc;
    line-height: 20px;
    margin-bottom: 10px;
}
$board-width: 400px;
$board-height: 400px;
.board {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    width: $board-width;
    height: $board-height;
    display: flex;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.5);
    border-radius: 5px;
    border: 3px solid #666;
}
$box-size: 100px;
.box {
    background: #fff;
    width: $box-size;
    height: $box-size;
    position: absolute;
    text-align: center;
    line-height: $box-size;
    box-shadow: 0 5px 10px 0 black;
    border-radius: 5px;
    color: white;
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);
    background: none no-repeat center center;
    background-size: cover;
    cursor: pointer;
    transition: box-shadow 0.3;
    &:hover {
        box-shadow: 0 0 20px 0 rgba(255,255,255,0.8);
        color: white;
    }
    &.cold {
        background-image: url(../img/Cold_Snap_icon.png);
    }
    &.ghost {
        background-image: url(../img/Ghost_Walk_icon.png);
    }
    &.tornado {
        background-image: url(../img/Tornado_icon.png);
    }
    &.emp {
        background-image: url(../img/EMP_icon.png);
    }
    &.alacrity {
        background-image: url(../img/Alacrity_icon.png);
    }
    &.blast {
        background-image: url(../img/Deafening_Blast_icon.png);
    }
    &.meteor {
        background-image: url(../img/Chaos_Meteor_icon.png);
    }
    &.wall {
        background-image: url(../img/Ice_Wall_icon.png);
    }
    &.spirit {
        background-image: url(../img/Forge_Spirit_icon.png);
    }
    &.sun {
        background-image: url(../img/Sun_Strike_icon.png);
    }
}
.habilities {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    .normal {
        display: flex;
        justify-content: flex-start;
    }
}
.hability {
    background: #fff;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    text-align: center;
    line-height: 100px;
    color: white;
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);
    background: none no-repeat center center rgba(255,255,255,0.3);
    background-size: cover;
    cursor: pointer;
    opacity: 0.9;
    &:hover {
        box-shadow: 0 0 20px 0 white !important;
        opacity: 1 !important;
    }
    &.Q {
        background-image: url(../img/Quas_icon.png);
        box-shadow: 0 0 10px 0 rgba(0,0,255,0.5);
    }
    &.W {
        background-image: url(../img/Wex_icon.png);
        box-shadow: 0 0 10px 0 rgba(255,0,255,0.5);
    }
    &.E {
        background-image: url(../img/Exort_icon.png);
        box-shadow: 0 0 10px 0 rgba(255,0,0,0.5);
    }
    &.invoke {
        opacity: 0.5;
        background-image: url(../img/Invoke_icon.png);
        box-shadow: 0 0 10px 0 rgba(255,255,255,0.3);
        transition: all 0.3s;
    }
}