/* line 1, style.scss */
body, html {
  height: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif; }

/* line 5, style.scss */
.container {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5d9dd+0,83c783+17,52b152+33,9b2600+67,682100+83,002400+100 */
  background: #b5d9dd;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #b5d9dd 0%, #83c783 17%, #52b152 33%, #9b2600 67%, #682100 83%, #002400 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #b5d9dd 0%, #83c783 17%, #52b152 33%, #9b2600 67%, #682100 83%, #002400 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #b5d9dd 0%, #83c783 17%, #52b152 33%, #9b2600 67%, #682100 83%, #002400 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5d9dd', endColorstr='#002400',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/* line 18, style.scss */
.points {
  flex: 0 1 auto;
  color: #ccc;
  line-height: 20px;
  margin-bottom: 10px; }

/* line 26, style.scss */
.board {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: #45484d;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #45484d 0%, black 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #45484d 0%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #45484d 0%, black 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  width: 400px;
  height: 400px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: 3px solid #666; }

/* line 43, style.scss */
.box {
  background: #fff;
  width: 100px;
  height: 100px;
  position: absolute;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 5px 10px 0 black;
  border-radius: 5px;
  color: white;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background: none no-repeat center center;
  background-size: cover;
  cursor: pointer;
  transition: box-shadow 0.3; }
  /* line 58, style.scss */
  .box:hover {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.8);
    color: white; }
  /* line 62, style.scss */
  .box.cold {
    background-image: url(../img/Cold_Snap_icon.png); }
  /* line 65, style.scss */
  .box.ghost {
    background-image: url(../img/Ghost_Walk_icon.png); }
  /* line 68, style.scss */
  .box.tornado {
    background-image: url(../img/Tornado_icon.png); }
  /* line 71, style.scss */
  .box.emp {
    background-image: url(../img/EMP_icon.png); }
  /* line 74, style.scss */
  .box.alacrity {
    background-image: url(../img/Alacrity_icon.png); }
  /* line 77, style.scss */
  .box.blast {
    background-image: url(../img/Deafening_Blast_icon.png); }
  /* line 80, style.scss */
  .box.meteor {
    background-image: url(../img/Chaos_Meteor_icon.png); }
  /* line 83, style.scss */
  .box.wall {
    background-image: url(../img/Ice_Wall_icon.png); }
  /* line 86, style.scss */
  .box.spirit {
    background-image: url(../img/Forge_Spirit_icon.png); }
  /* line 89, style.scss */
  .box.sun {
    background-image: url(../img/Sun_Strike_icon.png); }

/* line 93, style.scss */
.habilities {
  display: flex;
  justify-content: space-around;
  margin-top: 5px; }
  /* line 97, style.scss */
  .habilities .normal {
    display: flex;
    justify-content: flex-start; }

/* line 102, style.scss */
.hability {
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  text-align: center;
  line-height: 100px;
  color: white;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background: none no-repeat center center rgba(255, 255, 255, 0.3);
  background-size: cover;
  cursor: pointer;
  opacity: 0.9; }
  /* line 115, style.scss */
  .hability:hover {
    box-shadow: 0 0 20px 0 white !important;
    opacity: 1 !important; }
  /* line 119, style.scss */
  .hability.Q {
    background-image: url(../img/Quas_icon.png);
    box-shadow: 0 0 10px 0 rgba(0, 0, 255, 0.5); }
  /* line 123, style.scss */
  .hability.W {
    background-image: url(../img/Wex_icon.png);
    box-shadow: 0 0 10px 0 rgba(255, 0, 255, 0.5); }
  /* line 127, style.scss */
  .hability.E {
    background-image: url(../img/Exort_icon.png);
    box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.5); }
  /* line 131, style.scss */
  .hability.invoke {
    opacity: 0.5;
    background-image: url(../img/Invoke_icon.png);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.3); }

/*# sourceMappingURL=style.css.map */
